{% extends 'base.html' %}

{% block content %}

<h1>{{task.title}}</h1>


{{error}}
<form method="post">
{% csrf_token %}

<button>
    Update
</button>
{{form.as_p}}
</form>

<form action="{% url 'completed task' task.id %}" method="post"> 
{% csrf_token %}
<button>
    Completed
</button>
</form>


<form action="{% url 'delete task' task.id %}" method="post"> 
{% csrf_token %}
<button>
    Delete
</button>
</form>






<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam nulla a aut debitis dolore facere culpa voluptate! Maxime perferendis quo, incidunt laudantium ab vero possimus hic dolorem. Voluptatem dolorum fuga odit expedita veritatis aspernatur, esse, voluptatum minima quasi rem et beatae enim? Ex veritatis sint quasi repellat error minus eligendi, nulla magnam ab ullam sapiente illum voluptate. Modi eos autem, qui tempora ducimus non eum sed alias magnam nulla voluptates quae, consectetur iusto? Velit accusamus dolores aut consequatur maiores laboriosam a itaque? Eveniet, tempore id in ex, eaque illum quisquam distinctio quia iure, eius recusandae veritatis deserunt sunt minus impedit.</p>


{% endblock %}

